.container-fluid {
    overflow: auto;
}
.main {
    background: url("./images/bkgnd.2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: fixed;
    border: 120px solid #4B0153;
    color: gold;
}
.frmTp {
    text-align: center;
    font-size: 110px;
    margin-bottom: 75px;
    font-family: 'Yesteryear', cursive;
    color: gold;
}
p {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
}
@media screen and (max-width: 992px) {
    .main {
        border: 60px solid #4B0153;
    }
    img {
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 2000px) {
    #collage img {
        margin-left: auto;
        margin-right: auto;
    }
}
@media all and (max-width: 768px) {
    .frmTp {
        font-size: 80px;
    }
    p {
        font-size: 20px;
        font-weight: bold;
    }
}
@media all and (max-width: 640px) {
    .main {
        background: url("https://s-media-cache-ak0.pinimg.com/originals/09/81/1d/09811dae4ad533670b6dc37f2315b130.jpg") center center fixed;
        background-color: #610574;
    }
}
#collage {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}
.img-responsive {
    border: 1px solid black;
    -webkit-transition: all .5s ease-in-out;
}
.img-responsive:hover { transform: scale(1.5); }
